/*////////////// Fonts //////////////*/


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#end {
  text-align: right;
}

#zesty {
  font-family: 'Libre Baskerville';
}

.color {
  color: #a4afab;
}

#main {
  width: 950px;
  height: 300px;
  border: 3px solid #a4afab;
}